#!/bin/bash
ENABLE_CGROUP=true
MEM_SOFT_LIMIT_PERCENT=50
CPU_SOFT_LIMIT_PERCENT=80
MEM_HARD_LIMIT_PERCENT=70
CPU_HARD_LIMIT_PERCENT=50
APP_NAME={{app_name}}

if [ $ENABLE_CGROUP = true ] && [ -n "$APP_NAME" ]; then
        # reset cgroup
        cgdelete -r cpu,memory:{{cgroup}}
        # create cgroup given mem and cpu limit above
        cgcreate -g cpu,memory:{{cgroup}}
        # Soft limit for memory
        if [ -n "$MEM_SOFT_LIMIT_PERCENT" ]; then
                # /proc/meminfo output is in kb, convert to bytes first
                MEM_SOFT_LIMIT=$(($(awk '/^MemTotal:/{print $2}' /proc/meminfo)*1000*MEM_SOFT_LIMIT_PERCENT/100 ))
		echo "memory.soft_limit_in_bytes=$MEM_SOFT_LIMIT";
                cgset -r memory.soft_limit_in_bytes=$MEM_SOFT_LIMIT {{cgroup}}
        fi
        # Hard limit for memory
        if [ -n "$MEM_HARD_LIMIT_PERCENT" ]; then
                MEM_HARD_LIMIT=$(($(awk '/^MemTotal:/{print $2}' /proc/meminfo)*1000*MEM_HARD_LIMIT_PERCENT/100 ))
                echo "memory.limit_in_bytes=$MEM_HARD_LIMIT"
                cgset -r memory.limit_in_bytes=$MEM_HARD_LIMIT {{cgroup}}
        fi
        # Soft limit for CPU
        if [ -n "$CPU_SOFT_LIMIT_PERCENT" ]; then
                # 1024 is max cpu share
                CPU_SOFT_LIMIT=$((1024 * $CPU_SOFT_LIMIT_PERCENT/100))
                echo "cpu.shares=$CPU_SOFT_LIMIT"
                cgset -r cpu.shares=$CPU_SOFT_LIMIT {{cgroup}}
        fi
        # Soft limit for CPU
        if [ -n "$CPU_HARD_LIMIT_PERCENT" ]; then
                # Set CPU throttle and eval time to 1s
                CPU_CFS_QUOTA=100000
                # Set CPU quota / eval time as percentage of eval time * num of processor
                NUM_OF_PROCESSOR=$(nproc)
                CPU_CFS_PERIOD=$((CPU_HARD_LIMIT_PERCENT/100 * NUM_OF_PROCESSOR * CPU_CFS_QUOTA))
                echo "cpu.cfs_quota_us=$CPU_CFS_QUOTA"
                echo "cpu.cfs_period_us=$CPU_CFS_PERIOD"
                cgset -r cpu.cfs_quota_us=$CPU_CFS_QUOTA {{cgroup}}
                cgset -r cpu.cfs_period_us=$CPU_CFS_PERIOD {{cgroup}}
        fi
        # create cgrules configuration
        echo "root:${APP_NAME}     cpu,memory    {{cgroup}}" > /etc/cgrules.conf
        echo "SET cgrules.conf: root:${APP_NAME}     cpu,memory    {{cgroup}} "
        # Run cgrulesengd deamon
        cgrulesengd
fi